{% extends 'blog/home.html' %}

{% block content %}

<div class="grono">
    <h1 style="font-family: Kanit; margin-top:50px;margin-bottom:60px;">Grono Pedagogiczne</h1>
    <h4>Dyrektor Szkoły</h4>
    <p>mgr Katarzyna Piskorz</p><br>
    <h4>Nauczyciele</h4>
    <div style="text-align:justify;margin-left:47%">
        <p>mgr Brbara Mijal </p>
        <p>mgr Teresa Chochołek</p>
        <p>mgr Beata Szeląg</p>
        <p>mgr Teresa Jarecka</p>
        <p>mgr Anna Skórka</p>
        <p>mgr Grażyna Jarecka</p>
        <p>ks. Przemysław Pelczar</p>
        <p>mgr Barbara Kamińska</p>
        <p>mgr Jacek Bukowiec</p>
        <p>mgr Aneta Berkowicz</p>
        <p>mgr Maria Kosiba</p>
        <p>mgr Monika Trznadel</p>
        <p>mgr Magdalena Zabawa</p>
        <p>mgr Ewelina Syrek</p>
        <p>mgr Kinga Winiarska</p>
        <p>mgr Agnieszka Pętlak</p>
        <p>mgr Maciej Nowak</p>
    </div>
    <br>
    <br>
</div>


{% endblock %}