{% extends 'blog/home.html' %}

{% block content %}

<div class="kontakt">
    <h1 style="font-family: Kanit; margin-top:50px;margin-bottom:60px;">Niepubliczny Zespół Szkolno-Przedszkolny <br>w Nowym Gliniku </h1>
    <h5>Niepubliczny Zespół Szkolno-Przedszkolny w Nowym Gliniku,<br> w skład którego wchodzą:</h5>
    <ul>
        <li>Niepubliczna Szkoła Podstawowa w Nowym Gliniku</li>
        <li>Niepubliczne Przedszkole "Motylki" w Nowym Gliniku</li>
    </ul>
    <p>Prowadzone przez Stowarzyszenie Rozwoju Wsi Nowy Glinik</p>
    <p>Adres: Nowy Glinik 88</p>
    <p>38-204 Tarnowiec</p>
    <p>Tel.: +48 13 44 268 73</p>
    <p>e-mail: spnowyglinik2@wp.pl</p>
    
   
</div>


{% endblock %}